{% extends 'base.html.twig' %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		{% include "/layouts/nav.html.twig" %}
		<main class="px-3">
			<h1>Les Séries
				{{type}}</h1>

			<div class="row row-cols-2 row-cols-md-3 g-4">
				{% for item in LesSeries %}
					{% include "/serie/serieCard.html.twig" %}
				{% endfor %}
			</div>

		</main>

	</div>
{% endblock %}
